<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
        {{>header}}

        <div class="main-content">

            <form id="delete-zip-form">
                <input id="zip-number-input" type="text" placeholder="Zip Number"/>
                <button>Submit</button>
            </form>

            <p id="status-message"></p>
        
        </div>

        <script src="/js/delete_zip.js"></script>
    </body>
</html>