<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
        {{>header}}

        <div class="main-content">
            <p>Documentation for this project can be found in .md or .pdf format in the parent project directory.</p>
            <p>This project was created by Drew Taylor, March 2019.</p>
        </div>
    </body>
</html>