<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
        {{>header}}
        
        <div class="main-content">
            <p>Welcome to the landing page!</p>
            <p>This web application serves as the status and maintenance board for zips!</p>
            
        </div>
    </body>
</html>