<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
        {{>header}}

        <div class="main-content">

            <p id="health-status"></p>
            <p id="updated-status"></p>
            <p id="created-status"></p>

            <button><a href="/maintenance/add">Add Task</a></button>

            <table id="task-table"></table>
        
        </div>

        <script src="/js/zip.js"></script>
    </body>
</html>